{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["chrome >= 58", "safari >= 10", "firefox >= 54"],
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "rewire"
  ]
}
